---
extends: default

rules:
  line-length:
    max: 200
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  truthy: disable

ignore: |
  .ansible/
  .git/
  clusters/
  docs/
  terraform/
