{% set flags = openwrt_gentoo_rpi_eeprom_package_use_flags.split() %}
{% set board_family = openwrt_gentoo_rpi_eeprom_board_family %}
{% if board_family == 'auto' %}
{% set board_family = 'pi5' if 'pi5' in flags else 'pi4' %}
{% endif %}
{% set config_items = [] %}
{% for item in openwrt_gentoo_rpi_eeprom_config_common %}
{% set _ = config_items.append(item) %}
{% endfor %}
{% set _ = config_items.append({'key': 'BOOT_ORDER', 'value': openwrt_gentoo_rpi_eeprom_boot_order}) %}
{% if board_family == 'pi5' %}
{% for item in openwrt_gentoo_rpi_eeprom_config_pi5 %}
{% set _ = config_items.append(item) %}
{% endfor %}
{% else %}
{% for item in openwrt_gentoo_rpi_eeprom_config_pi4 %}
{% set _ = config_items.append(item) %}
{% endfor %}
{% endif %}
{% for item in openwrt_gentoo_rpi_eeprom_config_extra %}
{% set _ = config_items.append(item) %}
{% endfor %}
{% set tftp_hosts = [] %}
{% for host in openwrt_pxe_hosts_effective | default(openwrt_pxe_hosts | default([])) %}
{% if host.name is defined and host.board_hash is defined %}
{% set _ = tftp_hosts.append(host.name ~ '=' ~ host.board_hash) %}
{% endif %}
{% endfor %}
RPI_EEPROM_BOOT_ORDER={{ openwrt_gentoo_rpi_eeprom_boot_order | quote }}
RPI_EEPROM_MANAGE_BOOT_ORDER={{ (openwrt_gentoo_rpi_eeprom_manage_boot_order | bool) | ternary('1', '0') | quote }}
RPI_EEPROM_MANAGE_CONFIG={{ (openwrt_gentoo_rpi_eeprom_manage_config | bool) | ternary('1', '0') | quote }}
RPI_EEPROM_APPLY_LATEST_UPDATE={{ (openwrt_gentoo_rpi_eeprom_apply_latest_update | bool) | ternary('1', '0') | quote }}
RPI_EEPROM_BOARD_FAMILY={{ board_family | quote }}
RPI_EEPROM_BOOTFS_AUTO={{ (openwrt_gentoo_rpi_eeprom_bootfs_auto | bool) | ternary('1', '0') | quote }}
RPI_EEPROM_BOOTFS_SERVER={{ openwrt_gentoo_rpi_eeprom_bootfs_server | quote }}
RPI_EEPROM_BOOTFS_EXPORT_BASE={{ openwrt_gentoo_rpi_eeprom_bootfs_export_base | quote }}
RPI_EEPROM_BOOTFS_MOUNTPOINT={{ openwrt_gentoo_rpi_eeprom_bootfs_mountpoint | quote }}
RPI_EEPROM_BOOTFS_MOUNT_OPTIONS={{ openwrt_gentoo_rpi_eeprom_bootfs_mount_options | quote }}
RPI_EEPROM_TFTP_HOSTS="{{ tftp_hosts | join(' ') }}"
RPI_EEPROM_CONFIG_KEYS="{% for item in config_items %}{{ item.key }}{% if not loop.last %} {% endif %}{% endfor %}"
{% for item in config_items %}
RPI_EEPROM_CONFIG_{{ item.key }}={{ (item.value | string) | quote }}
{% endfor %}
