[Service]
ExecStart=
ExecStart=/usr/bin/distccd --no-detach --daemon --port {{ distcc_port | int }} --jobs {{ distcc_jobs | int }} -N {{ distcc_nice | int }} --listen {{ distcc_listen }}{% for cidr in distcc_allow %} --allow {{ cidr }}{% endfor %}
