---
{% set agent_settings = k3s_agent | default({}) %}
{% set raw_node_ip = agent_settings.get('node-ip') | default('', true) %}
{% set raw_node_name = agent_settings.get('node-name') | default('', true) %}
{% set ansible_host_value = ansible_host | default('', true) %}
{% set default_ipv4_value = ansible_facts.get('default_ipv4', {}).get('address', '') %}
{% set invalid_node_ip_values = ['', 'localhost', '127.0.0.1', '::1'] %}
{% set fallback_node_ip = default_ipv4_value if ansible_host_value in invalid_node_ip_values else ansible_host_value %}
{% set fallback_node_name = ansible_facts.get('hostname', inventory_hostname) %}
{% if raw_node_ip %}
{% if raw_node_ip is string and ('{{' in raw_node_ip or raw_node_ip in invalid_node_ip_values) %}
{% if fallback_node_ip %}
node-ip: {{ fallback_node_ip }}
{% endif %}
{% else %}
node-ip: {{ raw_node_ip }}
{% endif %}
{% elif fallback_node_ip %}
node-ip: {{ fallback_node_ip }}
{% endif %}
{% if raw_node_name %}
{% if raw_node_name is string and '{{' in raw_node_name %}
node-name: {{ fallback_node_name }}
{% else %}
node-name: {{ raw_node_name }}
{% endif %}
{% endif %}
flannel-iface: "{{ k3s_flannel_iface_resolved }}"
{% if agent_settings.get('snapshotter') %}
snapshotter: {{ agent_settings.get('snapshotter') }}
{% endif %}
{% if agent_settings.get('data-dir') %}
data-dir: {{ agent_settings.get('data-dir') }}
{% endif %}
{% set kubelet_default_args = ['container-log-max-size=10Mi', 'container-log-max-files=3'] %}
{% set kubelet_args = agent_settings.get('kubelet-arg', kubelet_default_args) %}
{% if kubelet_args %}
kubelet-arg:
{%   if kubelet_args is string %}
  - {{ kubelet_args }}
{%   else %}
{%     for arg in kubelet_args %}
  - {{ arg }}
{%     endfor %}
{%   endif %}
{% endif %}
{% if k3s_agent_node_labels %}
node-label:
{% for label in k3s_agent_node_labels %}
  - {{ label }}
{% endfor %}
{% endif %}
